* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

.body {
  width: 100vw;
}

.app {
  padding-top: 64px;
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}