.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 24px;
}

.image {
    width: 64px;
    height: 64px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image img {
    width: 110%;
    height: 110%;
    position: absolute;
    left: -5%;
    right: -5%;
    bottom: -5%;
    top: -5%;
    object-fit: cover;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;   
    gap: 8px;
}

.bottom button {
    width: 36px;
    height: 36px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border: none;
}

.bottom button img {
    width: 100%;
}