.main {
    width: 100%;
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 24px;
}

.image {
    width: 64px;
    height: 64px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image img {
    width: 110%;
    height: 110%;
    position: absolute;
    left: -5%;
    right: -5%;
    bottom: -5%;
    top: -5%;
    object-fit: cover;
}

.main button {
    color: black;
    font-size: 26px;
    border-radius: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}