.main {
    width: 100%;
}

.input {
    width: 100%;
    border: none;
    padding: 8px;
    font-size: 20px;
    outline: none;
    transition: 0.4s ease;
}

.tooltip {
    padding: 0 8px;
    font-size: 14px;
    font-weight: 600;
    color: #DC4141;
    margin-top: 2px;
}
