.main {
    width: 100%;
    padding: 48px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 36px;
}

.image {
    width: 256px;
    height: 256px;
    background-color: #c3c3c3;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 24px;

    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    padding-top: 0;
    width: 100%;
    max-width: 480px;
}

.info {
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info input {
    width: 100%;
    margin-bottom: 4px;
    border: none;
    padding: 8px 0;
    font-size: 18px;
    outline: none;
    font-weight: 500;
    text-transform: capitalize;
}

.info input:last-child {
    text-transform: none;
}

.buttons {
    display: flex;
    gap: 16px;
}

.buttons button {
    width: 100%;
    padding: 12px 8px;
    border-radius: 8px;
    border: none;

    background-color: #3943B7;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.buttons button:disabled {
    width: 100%;
    padding: 12px 8px;
    border-radius: 8px;
    border: none;

    background-color: #333333;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.statistic {
    width: 100%;
    margin-top: 8px;
}